.hidden {
  display: none;
}

/* #region common */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  text-decoration: none;
  color: #404bbf;
}

.link:active {
  color: #404bbf;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion common */

/* #region header */

.header-sect {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav,
.main-address {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.accent {
  color: #2e2f42;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.butger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .butger-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .main-address {
    text-decoration: none;
    font-style: none;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
  }

  .nav-link.active {
    color: #404bbf;
    position: relative;
  }

  .nav-link {
    display: block;

    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion header */

/* #region mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.accent-mobile {
  color: #404bbf;
}

.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile-contacts-link {
  font-style: normal;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-icons-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-icon-item {
  width: 40px;
  height: 40px;
}

.mobile-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #31d0aa;
}

.mobile-contacts-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contact-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-contact-link.email {
  color: #434455;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion mobile menu */

/* #region hero */

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-background-opt.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  padding: 72px 0;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin: 0 auto;
}

.hero-button {
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    font-weight: 700;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    margin: 0 auto;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    font-weight: 700;
  }
}

/* #endregion hero */

/* #region feature */

.container-feature-svg {
  display: none;
}

.feature-container {
  width: 288px;
  margin: 96px auto;
  padding: 0;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-h {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.feature-p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .feature-container {
    width: 736px;
  }

  .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
    justify-content: start;
  }

  .feature-h {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .feature-container {
    width: 1158px;
    padding: 0 15px;
    margin: 120px auto;
  }

  .container-feature-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 102px;
    height: 112px;
  }

  .feature-list {
    display: flex;
    gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 72px) / 4);
    justify-content: space-around;
  }

  .feature-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .feature-p {
    font-weight: 400;
  }
}

/* #endregion feature */

/* #region team */

.team {
  color: #2e2f42;
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-li {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  width: 264px;
  padding: 0;
  margin: 0 auto;
}

.team-container-list {
  padding: 32px 0;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 72px;
}

.team-list img {
  display: block;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.team-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.container-team-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 552px;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .team-li {
    justify-content: start;
  }
}

@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-container {
    width: 1158px;
    padding: 0 15px;
  }

  .team-list img {
    display: block;
  }

  .team-li {
    width: 264px;
  }

  .team-container-list {
    padding: 32px 0;

    justify-content: start;
  }

  .team img {
    object-fit: cover;
  }
}

/* #endregion team */

/* #region portfolio */

.portfolio-container {
  width: 288px;
  padding: 0;
  margin: 0 auto;
}

.portfolio {
  background-color: #ffffff;
  color: #2e2f42;
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  gap: 48px;
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-list-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 32px;
  margin-left: 16px;
}

.portf-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  margin-left: 16px;
}

.portf-thumb {
  position: relative;
  overflow: hidden;
}

.portf-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-thumb .portf-overlay {
  color: #f4f4fd;
}

.portfolio-list-item:hover .portf-overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-container {
    width: 736px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .portfolio-list-item {
    width: 356px;
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-container {
    width: 1158px;
    padding: 0 15px;
  }

  .portfolio-list {
    gap: 48px 24px;
    list-style: none;
  }

  .portfolio-list-item {
    box-shadow: none;
  }

  .portf-container-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    position: relative;
    overflow: hidden;
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* #endregion portfolio */

/* #region footer */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;

  padding: 96px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
}

.footer-info {
  text-align: center;
}

.link-site-footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;

  margin-bottom: 16px;
}

.accent-footer {
  color: #f4f4fd;
}

.footer-title {
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.footer-social-title {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 16px;
}

.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: left;
  margin-bottom: 72px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 72px;
  list-style: none;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input {
  width: 264px;
  height: 40px;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form > .footer-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer-button {
  display: flex;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;

  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  justify-content: center;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 250ms ease;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-send {
  margin-left: 16px;
}

.footer-button:hover {
  background-color: #404bbf;
}

.social-link svg {
  fill: #f4f4fd;
  transition: fill 250ms ease;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #fff;
}

.footer-button svg {
  fill: #fff;
  transition: fill 250ms ease;
}

.footer-button:hover svg {
  fill: #fff;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 496px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-info {
    margin-right: 0;
    margin-bottom: 72px;
  }

  .footer-social {
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-info,
  .footer-social {
    flex: 0 0 calc(50% - 12px);
  }

  .footer-social-title {
    align-items: left;
  }

  .footer-subscribe {
    width: 100%;
    text-align: left;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    height: 312px;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
  }
  .footer-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    align-items: baseline;
  }
  .footer-container > .footer-info {
    padding-right: 120px;
  }

  .footer-container > .footer-social {
    padding-right: 80px;
  }

  .footer-container > .footer-form {
    display: flex;
  }

  .footer-subscribe,
  .footer-subscribe p {
    text-align: left;
  }

  .link-site-footer {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-title {
    display: flex;
    margin-bottom: 16px;
    padding-left: 24px;
  }

  .footer-subscribe {
    display: flex;
    flex-direction: column;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-paragraph {
    width: 264px;
  }
  .footer-input {
    padding-left: 16px;
  }
  .footer-button {
    display: flex;
    align-items: center;
    padding: 8px 24px;
  }

  .footer-send {
    margin-left: 16px;
  }

  .footer-paragraph {
    width: 264px;
  }
}
/* #endregion footer */
