/* font-family: "Roboto",
sans-serif; */

/* #region common */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  text-decoration: none;
  color: #404bbf;
}

.link:active {
  color: #404bbf;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* #endregion common */

/* #region header */

.header-sect {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  padding: 0 15px;
  gap: 332px;
  margin: 0 auto;
}

.header-sect {
  border-bottom: 1px solid #e7e9fc;
}

nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 76px;
}
.page-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.main-address {
  font-style: normal;
}

/* #endregion header */

/* #region hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-background-opt.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.hero-button {
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region feature */

.feature-container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.feature {
  color: #2e2f42;
  background-color: #ffffff;
  padding: 120px 0;
}
.feature-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.feature-list p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-list-item {
  width: calc((100% - 72px) / 4);
  justify-content: space-around;
}

.feature-h {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.feature-p {
  width: 264px;
  height: 104px;
}

.container-feature-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 102px;
  height: 112px;
}

/* #endregion feature */

/* #region team */

.team {
  color: #2e2f42;
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-li {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list img {
  display: block;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-container-list {
  padding: 32px 0;
}

.team img {
  object-fit: cover;
}

.team-list h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.team-list p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.container-team-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 8px;
}

.team-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

/* #endregion team */

/* #region portfolio */

.portfolio {
  background-color: #ffffff;
  color: #2e2f42;
  padding: 120px 0;
  height: 1240px;
}

.portfolio-container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  gap: 48px 24px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-list-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.portf-container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  overflow: hidden;
}

.portfolio-list h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-list p {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.portf-thumb {
  position: relative;
  overflow: hidden;
}

.portf-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-thumb .portf-overlay {
  color: #f4f4fd;
}

.portfolio-list-item:hover .portf-overlay {
  transform: translateY(0%);
}

/* #endregion portfolio */

/* #region footer */

.footer {
  height: 312px;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  margin: 0 auto;
}

.footer-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: baseline;
}

.footer-container > .footer-info {
  padding-right: 120px;
}

.footer-container > .footer-social {
  padding-right: 80px;
}

.link-site-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-paragraph {
  width: 264px;
}

.footer-icons-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
  margin-bottom: 16px;
  padding-left: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-svg {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-social .footer-social-title {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  padding-left: 16px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  display: flex;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-size: 16px;

  border: none;
  border-radius: 4px;
  justify-content: center;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 250ms ease;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-send {
  margin-left: 16px;
}

.footer-button:hover {
  background-color: #404bbf;
}

.social-link svg {
  fill: #f4f4fd;
  transition: fill 250ms ease;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #fff;
}

.footer-button svg {
  fill: #fff;
  transition: fill 250ms ease;
}

.footer-button:hover svg {
  fill: #fff;
}

/* #endregion footer */

/* #region modal */

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  display: block;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  min-height: 584px;
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.modal-overlay.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close .modal-close-icon,
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
  width: 8px;
  height: 8px;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  margin: 0 0 16px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-row {
  margin-bottom: 8px;
  flex-direction: column;
}

.form-row:nth-child(4) {
  margin-bottom: 16px;
}

.form-row:nth-child(5) {
  margin-bottom: 24px;
}

.form-row .form-row--textarea {
  margin-bottom: 16px;
}

.field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.field-control {
  position: relative;
  margin-bottom: 0;
}

.field-input {
  width: 100%;

  height: 40px;
  padding-left: 38px;
  padding-right: 12px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.9);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);

  border-radius: 4px;
  box-sizing: border-box;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-input:focus {
  border-color: #4d5ae5;
}

.field-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.field-input:focus + .field-icon,
.field-control:focus-within .field-icon {
  fill: #4d5ae5;
}

.field-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  outline: transparent;
  resize: none;
}

.field-textarea:focus {
  border-color: #4d5ae5;
}

.form-row--checkbox {
  margin-bottom: 24px;
}

.checkbox-label {
  gap: 8px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
}

.checkbox-label span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.agreement-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.form-row--submit {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.submit-btn {
  min-width: 169px;
  height: 56px;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 24px;
  margin: 0 auto;
  margin-top: 24px;
}

.submit-btn .submit-icon {
  margin-left: 16px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

@media (max-width: 480px) {
  .modal {
    width: calc(100% - 32px);
    padding: 32px 16px;
    min-height: auto;
  }
  .field-input,
  .field-textarea {
    max-width: 100%;
  }
}

/* #endregion modal */
