.hidden {
    display: none;
}

/* #region common */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}
.link:hover,
.link:focus {
  text-decoration: none;
  color: #404bbf;
}

.link:active {
  color: #404bbf;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    }  
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    }  
}

/* #endregion common */


/* #region header */

.header-sect {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav,
.main-address {
    display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  
}

.accent {
  color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.butger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .butger-btn {
        display: none;
    }
    
    .page-nav {
        display: flex;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        gap: 40px;
        
    }

     .header-logo {   
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }



    .main-address {
        text-decoration: none;
        font-style: none;
        display: block;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }


     .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }



    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .nav-link.active {
        color: #404bbf;
        position: relative;
    }

    .nav-link {
    display: block;
    
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* #endregion header */

/* #region mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
}

.accent-mobile {
    color: #404bbf;;
}

.mobile-menu-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.mobile-contacts-link {
    font-style: normal;
    
}

.mobile-menu-contacts {
    margin-bottom: 48px;
}

.mobile-icons-list {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-icon-item {
  width: 40px;
  height: 40px;
}

.mobile-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-link:hover,
.mobile-icon-link:focus {
  background-color: #31d0aa;
}

.mobile-contacts-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-contact-link {
  text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mobile-contact-link.email {
  color: #434455;
  font-weight: 400;
}


@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion mobile menu */

/* #region hero */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-background-opt.jpg);
      background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;
    padding: 72px 0;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}


.hero-title {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
     margin: 0 auto;
}

.hero-button {
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        font-weight: 700;
}
}

@media screen and (min-width: 1158px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        font-weight: 700;
}
}

/* #endregion hero */


/* #region feature */




/* #endregion feature */